<div>
      <aside>

          <div class="card mt-3">
              <div class="card-header" style="background-color:whitesmoke;color: black">
                  <i class="fa-solid fa-bars"></i> 
                  Menu
                  <div class="float-end"><a href="http://127.0.0.1:5500/ASM1/Login/index.html" class="nav-link">Log Out</a></div>
              </div>
              <div class="list-group">
                  <a href="#!QlNguoiDung" class="list-group-item list-group-item-action">
                      Quản lý người dùng
                  </a>
                  <a href="#!Qlsanpham" class="list-group-item list-group-item-action">
                      Quản lý sản phẩm
                  </a>
                  <a href="#" class="list-group-item  list-group-item-action">
                      Báo cáo
                  </a>
                  <a href="#" class="list-group-item list-group-item-action ">
                      Thống kê
                  </a>
              </div>
          </div>
      </aside>
  </div>