<div class="card poly-cart  mt-5" style="background-color: #e3f2fd;">
      <div class="card-body row ">
            <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="container">
                        <div class="col-3">
                              <h3>Thông tin liên hệ</h3>
                              <p><i class="fa-solid fa-envelope"></i> Email:
                                    khaildph34641@fpt.edu.vn</p>
                              <p><i class="fa-solid fa-phone"></i> Điện Thoại: (+84) 336389543
                              </p>
                              <p><i class="fa-solid fa-map-pin"></i> Địa Chỉ: Gate 1, FPT
                                    Polytechnic
                                    Building, 13 Trinh Van Bo Street</p>
                        </div>
                        <div class="col-6">
                              <div class="row">
                                    <h3>Hệ thống cửa hàng</h3>

                                    <div class="col-4">
                                          <p>Binky STORE SYSTEM</p>
                                          <p>No. 18, Lane 121, Thai Ha, Dong Da, Hanoi <br>
                                                Hotline : 0825 233 233 <br>
                                                Sales: From 8h30 - 21h30 <br>
                                                Technique: From 8h30 - 12h & 13h30 - 17h30</p>
                                    </div>
                                    <div class="col-4">
                                          <p>Binky STORE SYSTEM</p>
                                          <p>No. 56 Tran Phu Street, Ha Dong, Hanoi <br>
                                                Hotline: 0825 233 233 <br>
                                                Sales: From 8h30 - 21h30 <br>
                                                Technique: From 8h30 - 12h & 13h30 - 17h30</p>
                                    </div>
                                    <div class="col-4">
                                          <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8043891601383!2d105.7362131747147!3d21.04051148737592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345550b525aa03%3A0x3fdefc40f69a023a!2zQ2FvIMSR4bqzbmcgRlBUIFBo4buRIFRy4buLbmggVsSDbiBCw7QgLCBQaMaw4budbmcgUGjGsMahbmcgQ2FuaCAsIHF14bqtbiBU4burIExpw6pt!5e0!3m2!1svi!2s!4v1705311415366!5m2!1svi!2s"
                                                width="230" height="250" style="border:0; margin-top: -50px;"
                                                allowfullscreen="" loading="lazy"
                                                referrerpolicy="no-referrer-when-downgrade" ></iframe>
                                    </div>
                              </div>
                        </div>
                        <div class="col-3">
                              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    </ul>
                                    <ul class="navbar-nav  mb-7 mb-lg-0 ">
                                          <i class="fa-brands fa-facebook" style="padding: 10px;"></i>
                                          <i class="fa-brands fa-instagram" style="padding: 10px;"></i>
                                          <i class="fa-brands fa-youtube" style="padding: 10px;"></i>
                                          <i class="fa-brands fa-twitter" style="padding: 10px;"></i>

                                    </ul>
                              </div>
                        </div>
                  </div>
            </nav>

      </div>
</div>