<div class="row">
      <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
                  <div class="container-fluid">
                        <a class="navbar-brand" href="#" style="color: black;"> <img src="../img/MINIMALIST.png"
                                    width="50" height="50"></a>
                        <form class="d-flex">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                    style="padding-right: 100px;">
                              <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                              aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                              </ul>
                              <ul class="navbar-nav mb-2 mb-lg-0">
                                    <li class="nav-item">
                                          <a class="nav-link active" aria-current="page" href="#!"
                                                style="color: black;">
                                                <i class="fa-solid fa-house"></i>
                                                Trang
                                                chủ</a>
                                    </li>
                              </ul>
                              <ul class="navbar-nav mb-2 mb-lg-0">
                                    <li class="nav-item">
                                          <a class="nav-link active" aria-current="page" href="#!dssp"
                                                style="color: black;">
                                                <i class="fa-solid fa-bars"></i>
                                                Danh Sách
                                                Sản Phẩm</a>
                                    </li>
                              </ul>
                              <ul class="navbar-nav mb-2 mb-lg-0">
                                    <li class="nav-item">
                                          <a class="nav-link active" aria-current="page" href="#" style="color: black;">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                Giỏ Hàng</a>
                                    </li>
                              </ul>
                              <ul class="navbar-nav mb-2 mb-lg-0">
                                    <div class="float-end" ><a href="http://127.0.0.1:5500/ASM1/Login/index.html" class="nav-link"  style="color: black;"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a></div>
                              </ul>
                        </div>
                  </div>
            </nav>
      </div>
</div>
<div class="row">
      <div class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                              class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                              aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                              aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                        <div class="carousel-item active">
                              <img src="../img/banner.png" class="d-block w-100" width="958" height="300">
                        </div>
                        <div class="carousel-item">
                              <img src="../img/khoa-hoc-kinh-doanh-toan-dien.png" class="d-block w-100" width="958"
                                    height="300">
                        </div>
                        <div class="carousel-item">
                              <img src="../img/thiet-ke-banner-chuyen-nghiep-gia-re-49-1.jpg" class="d-block w-100"
                                    width="958" height="300">
                        </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                  </button>
            </div>
      </div>
</div>